<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat aliquam lectus vitae porttitor. Donec euismod sem dui, ac gravida sem mattis sed. Fusce porttitor accumsan sem elementum convallis. Nam id augue lobortis, laoreet magna non,
          sodales risus. </p>
      </section>

      <div class=radio-block>
        <input type="radio" name="year" id="all" checked="checked">
         <label for="all">2016-2018</label>
        <input type="radio" name="year" id="y2018">
         <label for="y2018">2018</label>
        <input type="radio" name="year" id="y2017">
         <label for="y2017">2017</label>
        <input type="radio" name="year" id="y2016">
         <label for="y2016">2016</label>
     </div>

      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=10>
            <tile-layer layer="cartoPositron"></tile-layer>
          </leaflet-map>

        </div>
        <aside class="legend">
          <h1>Homicide locations</h1>
          <ul class="scale">
            <li>
              <span class="block" style="background-color: #006849"></span> 2018</li>
            <li>
              <span class="block" style="background-color: #446BCC"></span> 2017</li>
            <li>
              <span class="block" style="background-color: #6e016b"></span> 2016</li>
            <li>
              <span class="block" style="background-color: #6e016b" style="stroke: #000000" style="stroke-width: 2px"></span> Officer-involved shooting</li>
          </ul>
        </aside>
      </div>
    </div>
      <div class="source">Source: King County law enforcement agencies, King County Medical Examiner’s Office
        <span class="credit">Reporting: Sara Jean Green / THE SEATTLE TIMES <br>Map: Emily M. Eng / THE SEATTLE TIMES</div>
    </div>
  </responsive-child>
  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
